*::-webkit-media-controls-panel,
*::-webkit-media-controls-play-button,
*::-webkit-media-controls-start-playback-button {
  display: none!important;
  -webkit-appearance: none;
}

img {
  display: block;
  width: auto;
  height: auto;
}

.bradesco-bg {
  background: url('./background-desktop-tablet-1200x700.jpg') center fixed;
  background-size: cover;
}

#overlay-intv {
  display: block;
  position: fixed;
  z-index: 2147483647;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  overflow: auto;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.701961);
}

#overlay-intv .modal-content {
  margin: auto;
  top: 0px;
  bottom: 0px;
  right: 0px;
  left: 0px;
  position: absolute;
  height: 640px;
  width: 600px;
}

.modal-content #imageAd {
  position: absolute;
  height: 640px;
  width: 600px;
  margin: auto;
  top: 0px;
  bottom: 0px;
  right: 0px;
  left: 0px;
}

/* ----------- iPhone 4 and 4S ----------- */
/* Portrait */
@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 480px)
  and (orientation: portrait) {
    #overlay-intv .modal-content,
    .modal-content #imageAd {
      height: 299px;
      width: 280px;
    }
}

/* Landscape */
@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 480px)
  and (orientation: landscape) {
    #overlay-intv .modal-content,
    .modal-content #imageAd {
      height: 299px;
      width: 280px;
    }
}

/* ----------- iPhone 5 and 5S ----------- */
/* Portrait */
@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 568px)
  and (orientation: portrait) {
    #overlay-intv .modal-content,
    .modal-content #imageAd {
      height: 299px;
      width: 280px;
    }
}

/* Landscape */
@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 568px)
  and (orientation: landscape) {
    #overlay-intv .modal-content,
    .modal-content #imageAd {
      height: 299px;
      width: 280px;
    }
}

/* ----------- iPhone 6 ----------- */
/* Portrait */
@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 667px)
  and (orientation: portrait) {
    #overlay-intv .modal-content,
    .modal-content #imageAd {
      height: 341px;
      width: 320px;
    }
}

/* Landscape */
@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 667px)
  and (orientation: landscape) {
    #overlay-intv .modal-content,
    .modal-content #imageAd {
      height: 341px;
      width: 320px;
    }
}

/* ----------- iPhone 6+ ----------- */
/* Portrait */
@media only screen
  and (min-device-width: 414px)
  and (max-device-width: 736px)
  and (orientation: portrait) {
    #overlay-intv .modal-content,
    .modal-content #imageAd {
      height: 341px;
      width: 320px;
    }
}

/* Landscape */
@media only screen
  and (min-device-width: 414px)
  and (max-device-width: 736px)
  and (orientation: landscape) {
    #overlay-intv .modal-content,
    .modal-content #imageAd {
      height: 320px;
      width: 320px;
    }
}

/* ----------- Galaxy ----------- */
/* Portrait */
@media screen
  and (device-width: 320px)
  and (device-height: 640px)
  and (orientation: portrait) {
    #overlay-intv .modal-content,
    .modal-content #imageAd {
      height: 299px;
      width: 280px;
    }
}

/* Landscape */
@media screen
  and (device-width: 320px)
  and (device-height: 640px)
  and (orientation: landscape) {
    #overlay-intv .modal-content,
    .modal-content #imageAd {
      height: 299px;
      width: 280px;
    }
}

/* ----------- iPad mini ----------- */
/* Portrait */
@media only screen
  and (min-device-width: 768px)
  and (max-device-width: 1024px)
  and (orientation: portrait) {
    #overlay-intv .modal-content,
    .modal-content #imageAd {
      height: 640px;
      width: 600px;
    }
}

/* Landscape */
@media only screen
  and (min-device-width: 768px)
  and (max-device-width: 1024px)
  and (orientation: landscape) {
    #overlay-intv .modal-content,
    .modal-content #imageAd {
      height: 640px;
      width: 600px;
    }
}

/* ----------- iPad 3 and 4 ----------- */
/* Portrait */
@media only screen
  and (min-device-width: 768px)
  and (max-device-width: 1024px)
  and (orientation: portrait) {
    #overlay-intv .modal-content,
    .modal-content #imageAd {
      height: 640px;
      width: 600px;
    }
}

/* Landscape */
@media only screen
  and (min-device-width: 768px)
  and (max-device-width: 1024px)
  and (orientation: landscape) {
    #overlay-intv .modal-content,
    .modal-content #imageAd {
      height: 640px;
      width: 600px;
    }
}
